<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/OurStyle.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="topPanel">
        <ul class="navbar-nav flex-grow-1">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Student", "Index", "Student")</li>
        </ul>
    </div>
    <div class="mainPanel">
        @RenderBody()
    </div>
</body>
</html>
